
body {
  -ms-overflow-style: none;
  background-color: #202020
}
video {
  width: 100%;
  height: 65vh;
  margin:0 auto;
  display:block; 
  background-color: #181818;
}
img{
  width: 100%;
  aspect-ratio: 4 / 3; 
  object-fit: cover;
  background-size: cover;
}
.back{
  color:#dddddd
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}
.logo{
  text-align: left;
  margin-bottom: 10px;
}
.logo h2{
  color: #606060;  
}
.rigth{
  float: right;
  margin-right: 20%;
}
#watch {
  .card-list{
    background-color: #181818;
    width: 90%;
    height: 90vh;
    margin:0 auto;
  }
  .card{
    display: block;
    width: 90%;
    height: 20%;
    padding: 5%;
  }
  .card__thumbnail{
    width: 100%;
  }  
  .card__info{
    color: #aaaaaa;
    font-size: 10px;
  }
  .card__title{
    color:#ffffff;
  }
  .plus-button{
    background-color: inherit;
    border: 1px solid #606060;  
    border-radius: 2px;
    color:#ffffff;
    width: 100px;
    height: 30px;

  }
  .plus-button i{
    font-size: 18px;
    color:#eb5c4e;
    margin-right: 2px;
  }
}

#record {
  .md-script{
    text-align: left;
    padding: 15px 20px;
    display: block;
    background-color: #181818;
    color:#ffffff;
    width: 80%;
    height: 80vh;
    margin:0 auto;
  }
  /**/
  .record__control{
    text-align: left;
  }
  .record__button{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
  }
  .record__stop::after{
    width: 50px;
    height: 50px;
    background-color: #E09B33;
    display: inline-block;
    content: "";
  }
  .record__stop.inactive::after{
    background-color: #606060;  
  }
  .record__play::after{
    margin-left: 9px;
    width: 0;
    height: 0;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-right: 35px solid transparent;
    border-left: 37px solid #EA3D32;
    content: "";
    display: inline-block;
  }
  .record__play.inactive::after{
    border-left: 35px solid #606060;  
  }
  .record__pause::after{
    width: 50px;
    height: 50px;
    border-color:#56BD66;;
    border-style:double;
    border-width:0 0 0 50px;
    display: inline-block;
    content: "";
  }
  .record__pause.inactive::after{
    border-color:#606060;  
  }
  .menu-bottom{
    margin-top: 20px;
  }
  .thumbnail{ 
    height: 120px;
    width: 100%;
  }
  .thumbnail__image{
    width: 120px;
    margin-right: 10px;
  }
  .thumbnail__left{
    text-align: left;
  }
  .thumbnail__button{
    bottom: 0px;
    width: 160px;
    height: 40px;
    margin-top: 52px;
    border-radius: 10px;
    color: #dddddd;
    font-size: 15px;
    background-color: inherit;
    border: 1px solid #606060;  
    border-radius: 2px;
    color:#ffffff;
    padding: 5px 10px;
  }
  .thumbnail__button i{
    //color: #5ca3f7;
    color:#eb5c4e;
    margin-right: 3px;
  }
  .menu-bottom__button {
    text-align: right;
    padding-right: 20px;
    font-size: 15px;
  }
  .menu-bottom__button button{
    width: 80px;
    height: 80px;
    background-color: inherit;
    color:#ffffff;
    margin-left: 10px;
    border: 1px solid #606060;  
  }
}
