
body {
  -ms-overflow-style: none;
  background-color: #181818;
}
video {
  width: 100%;
  aspect-ratio: 16 / 9; 
  margin:0 auto;
  display:block; 
  background-color: #181818;
}
img {
  width: 100%;
  //aspect-ratio: 4 / 3; 
  object-fit: cover;
  background-size: cover;
}
.back{
  color:#dddddd
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}
.left-side{
  margin-top: 20px;
  .title{
    text-align: left;
    color: #dddddd;
    padding-top: 15px;
  }
}
.header{
  background-color: #202020;
  height: 50px;
  padding-top: 10px;

  .logo{
    text-align: left;
    margin-left: 20px;
  }
  .logo h2{
    color: #606060;  
  }  

  .header__button{
    text-align: right;
    padding-right: 20px;
  }
  .plus-button{
    background-color: inherit;
    border: none;
    // border: 1px solid #606060;  
    // border-radius: 2px;
    // width: 100px;
    // height: 30px;
  }
  .plus-button i{
    font-size: 25px;
    color:#eb5c4e;
    margin-right: 2px;
  }
}
.right-side{
  margin-top: 20px;
  .right-side__header{
  text-align: right;
    button{
      //border: 1px solid #606060;  
      background-color: inherit;
      color: #ffffff;
      border: none;
      cursor: pointer;
    }
  }
}

.md-read{
  box-sizing: border-box;
  background-color: #181818;
  border-radius: 10px;
  color:#ffffff;
  -ms-overflow-style: none;  
  overflow:auto;
  text-align: left;
  padding: 10px 15px;
}
#watch {
  .card-list{
    //-ms-overflow-style: none;  
  // overflow:auto;
    background-color: #181818;
    height: 80vh;
    margin:0 auto;
  }
  // .card-list::-webkit-scrollbar{
  //   display:none;
  // }
  .card{
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 20%;
    padding: 10px;
    position: relative;
  }
  .card__thumbnail{
    width: 100%;
  }  
  .card__info{
    color: #aaaaaa;
    font-size: 10px;
  }
  .card__title{
    color:#ffffff;
  }
  .delete-button{
    bottom: 10px;
    right: 0px;
    position: absolute;
    background-color: inherit;
    border: none;
    color:#ffffff;
    cursor: pointer;
  }
}

#record {
  .right-input{
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;

  }
  .right-input input{
    box-sizing: border-box;
    width: 100%;
    background-color: inherit;
    border: none;
    color:#ffffff;
    padding: 5px 15px;

  }
  .right-input input:focus{
    border: 1.5px solid #ffffff;  
    border-radius: 2px;
  }
  .md{
    position: relative;
    margin:0 auto;
  }
  .md-button{
    position: absolute;
    right:0px;
    top:4px;
    background-color: inherit;
    color: #aaaaaa;
    border: none;
    cursor: pointer;
    font-size: 15px;
  }
  .md-text{
    box-sizing: border-box;
    background-color: #181818;
    color:#ffffff;
    height: 88vh;
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    -ms-overflow-style: none;
  }
  .md-preview{
    overflow:auto;
    text-align: left;
  }
  .md-write{
    border:none;
    resize: none;
  }
  .md-text::-webkit-scrollbar{
    display:none;
  }
  .record__control{
    text-align: center;
  }
  .record__title{
    background-color: inherit;
    border: none;
    color: #ffffff;
  }
  .record__label{
    margin-right: 10px;
  }
  .record__button{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
    cursor : pointer;
    margin-left: 5px;
  }
  .record__stop::after{
    width: 30px;
    height: 30px;
    background-color: #606060;  
    display: inline-block;
    content: "";
  }
  .record__stop.inactive::after{
    background-color: #606060; 
  }
  .record__play::after{
    width: 0;
    height: 0;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-right: 25px solid transparent;
    border-left: 25px solid #EA3D32;
    content: "";
    display: inline-block;
  }
  .record__play.inactive::after{
    border-left: 24px solid #606060;  
  }
  .record__pause::after{
    width: 30px;
    height: 30px;
    border-color:#EA3D32;
    border-style:double;
    border-width:0 0 0 30px;
    display: inline-block;
    content: "";
  }
  .record__pause.inactive::after{
    border-color:#606060; 
  }
  .inactive{
    cursor : no-drop;
  }
  .menu-bottom{
    margin-top: 20px;
  }
  .thumbnail{ 
    height: 120px;
    width: 100%;
  }
  .thumbnail__image{
    width: 120px;
    margin-right: 10px;
  }
  .thumbnail__left{
    text-align: left;
  }
  .thumbnail__button{
    bottom: 0px;
    width: 160px;
    height: 40px;
    margin-top: 52px;
    border-radius: 10px;
    color: #dddddd;
    font-size: 15px;
    background-color: inherit;
    border: 1px solid #606060;  
    border-radius: 2px;
    color:#ffffff;
    padding: 5px 10px;
  }
  .thumbnail__button i{
    //color: #5ca3f7;
    color:#eb5c4e;
    margin-right: 3px;
  }
  .menu-bottom__button {
    text-align: right;
    padding-right: 20px;
    font-size: 15px;
  }
  .menu-bottom__button button{
    width: 80px;
    height: 80px;
    background-color: inherit;
    color:#ffffff;
    margin-left: 10px;
    border: 1px solid #606060;  
  }
}
