body {
  -ms-overflow-style: none;
}

body {
  background-color: #3c3c3c;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.vedio {
  width: 800px;
  height: 80%;
  right: 40px;
  top: 30px;
  font-size: 40px;
  color: #666667;
  cursor: pointer;
}
#watch {
  video {
    width: 100%;
    height: auto;
    margin:0 auto;
    display:block;  
  }
  .watch__text{
    display: block;
    background-color: #ffffff;
    width: 80%;
    height: 80vh;
    margin:0 auto;
  }
  .watch__menu{
    text-align: left;

  }
  .watch__button{
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
  }
  .watch__stop{
    width: 100%;
    height: 100%;
    background-color: #E09B33;
  }
  .watch__play{
    margin-left: 9px;
    width: 0;
    height: 0;
    border-bottom: 40px solid transparent;
    border-top: 40px solid transparent;
    border-left: 60px solid #EA3D32;
    border-right: 60px solid transparent;
  }
  .watch__pause{
    display: inline-block;
    width: 30%;
    margin-right: 20%;
    height: 100%;
    background-color: #56BD66;
  }
  .watch_deactivate{
    background-color: #ababab;
  }
}


